@import 'elements/reset';
@import 'elements/dashboard';
@import 'elements/display';
@import 'elements/navbar';
//@import "https://fontawesome.com/how-to-use/on-the-web/using-with/sass96";


.App {
  background-color: #e1d7d7;
  height: 100%;
  width: 100%;
}