@import 'elements/reset';
@import 'elements/yourProject';
@import 'elements/display';
@import 'elements/navbar';
//@import "https://fontawesome.com/how-to-use/on-the-web/using-with/sass96";
@import 'elements/footer';
@import 'elements/contact';
@import 'elements/home';
@import 'elements/jackets';

.App {
  background-color: black;
  height: 100%;
  width: 100%;
}