.navbar {
  height: 15vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  //.navbar-logo {
  //  color: #ff007f;
  //  text-decoration: none;
  //  font-size: 2rem;
  //  display: flex;
  //  align-items: center;
  //  justify-content: flex-start;
  //  flex-direction: column;
  //  width: 6rem;
  //  text-shadow: 0 0 10px #ff007f, 0 0 20px#ff007f, 0 0 40px #ff007f, 0 0 80px#ff007f;
  //  right: 6rem;
  //}
  .logo-img {
    position: absolute;
    top: 0.5rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid #ff007f;
    box-shadow: 0 0 5px #ff007f, 0 0 10px#ff007f, 0 0 20px #ff007f, 0 0 40px#ff007f;
    width: 9rem;
    left: 10rem;
  }
  .navbar-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: flex-end;
    .navbar-item {
      display: flex;
      align-items: center;
      position: relative;
      .navbar-link {
        text-decoration: none;
        color: #06a69d;
        font-size: 1.3rem;
        font-weight: 700;
        margin-right: 2.2rem;
        letter-spacing: 0.1rem;
        transition: 0.5s;
      }
      .navbar-link:hover {
        color: #ff007f;
        text-shadow: 0 0 10px #ff007f, 0 0 20px#ff007f, 0 0 40px #ff007f, 0 0 80px#ff007f;
      }
    }


  }

}

.submenu-items {
  width: 15rem;
  position: absolute;
  list-style: none;
  text-align: start;
  top: 3rem;
  right: 1.8rem;
  z-index: 1;
  .submenu-item {
    background-color: black;
    cursor: pointer;
    display: block;
    .submenu-link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #06a69d;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      margin-right: 2rem;
      letter-spacing: 0.1rem;
    }
    .submenu-link:hover {
      color:#ff007f;
      text-shadow: 0 0 10px #ff007f, 0 0 20px#ff007f, 0 0 40px #ff007f, 0 0 80px#ff007f;
    }
  }
}
.submenu-items.clicked {
  display: none;
}

