.container-cotact {
  width: 40rem;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    color:#ff007f;
    text-shadow: 0 0 10px #ff007f, 0 0 20px#ff007f, 0 0 40px #ff007f, 0 0 80px#ff007f;
    input {
      width: 100%;
      height: 4rem;
      font-size: 2rem;
      padding: 0.5rem;
      outline: none;
      border-radius: 0.4rem;
      border: 1px solid #06a69d;
      &:focus {
        border: 2px solid lightseagreen;
      }
    }
    label {
      margin-top: 2rem;
      margin-bottom: 0.3rem;
    }
    textarea {
      width: 100%;
      height: 6rem;
      border-radius: 0.4rem;
      background: black;
      border: 1px solid #06a69d;
      color: white;
      font-size: 1.5rem;
    }

    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background-color: #808080;
      color: white;
      border: none;
    }
    input[type="submit"]:hover {
      color:#ff007f;
      text-shadow: 0 0 10px #ff007f, 0 0 20px#ff007f, 0 0 40px #ff007f, 0 0 80px#ff007f;
      background-color: #06a69d;
    }
  }
}
.contact-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8rem;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    background: #808080;
    color: black;
    cursor: pointer;

  }
}
  article {
    width: 40rem;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 0.7rem;
    h2 {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      padding: 0 1rem 0.7rem;
      line-height: 1.7rem;
      font-size: 1rem;
    }

    span {
      transition: 0.3s;
    }
  }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.collapse.show {
  height: auto;
}

section.active {
    background: #06a69d;
}

section.active span {
  rotate: -180deg;
}
.message-send {
  color: white;
}
